[submodule "site/themes/PaperMod"]
	path = site/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "site/site/themes/sustain"]
	path = site/site/themes/sustain
	url = https://github.com/nurlansu/hugo-sustain.git
[submodule "site/themes/sustain"]
	path = site/themes/sustain
	url = https://github.com/nurlansu/hugo-sustain.git
